<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body {
	background-color: #09F;
}
</style>
</head>

<body>
<table width="42%" border="0">
  <tr>
    <td width="50%">{%IWButton1%}</td>
    <td width="50%">{%IWLabel2%}</td>
  </tr>
  <tr>
    <td>{%IWLabel1%}</td>
    <td>{%IWEdit1%}</td>
  </tr>
  <tr>
    <td>{%IWButton2%}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
