.SampleStyle {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: x-large;
	background-color: #008000;
	border-style: dashed;
}
