<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>

<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="cache-control" content="no-cache">
	<TITLE>Error Message</TITLE>
	<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	background-color: #FFFF00;
}
</style>
</HEAD>

<BODY>

<P>
<TABLE BORDER="0" WIDTH="100%" CELLPADING=6>
    <TR HEIGHT=141>
        <TD WIDTH=50% class="auto-style1" style="width: 100%">
		    <IMG SRC="../Files/error-logo.jpg" height="148" width="150">&nbsp;
        </TD>
    </TR>
	<TR>
        <TD>
		    <DIV ALIGN=CENTER STYLE="border:1px solid;">
    			<BR><FONT SIZE="4">
                An error has occured.
                </FONT>
    			<BR><BR>
    			<span class="auto-style2">{%textMessage%}</span>
    			<BR>
    			<BR>
    			 <b>{%butnOk%}</b><BR>
    		</DIV>
        </TD>
    </TR>
	</TABLE>

</BODY>

</HTML>