<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
	<HEAD>
		<TITLE>Session Time-Out</TITLE>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
		<META HTTP-EQUIV="Expires" CONTENT="-1">
		<META HTTP-EQUIV="pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="cache-control" content="no-cache">
		<style type="text/css">
.auto-style1 {
	text-align: center;
}
</style>
	</HEAD>
	<BODY>
		<P>
			<TABLE BORDER="0" WIDTH="100%" CELLPADING="6">
				<TR>
					<TD WIDTH="50%" class="auto-style1" style="width: 100%">
						<IMG SRC="../Files/error-logo.jpg" height="148" width="150">&nbsp;
					</TD>
				</TR>
				<TR>
					<TD align="center">
						<BR>
						<BR>
						<FONT size="7"><STRONG>A time-out has occurred</STRONG></FONT><BR>
						<FONT SIZE="4"> within <b>{%APPNAME%} due to 1 minute of 
						innactivity.</b></FONT><BR>
						<BR>
						<BR>
						In order to restart the application, please click the link below:
						<BR>
						<BR>
						<a href="{%APPADDRESS%}$/start">Click here to restart <b>{%APPNAME%}</b></a>.
						<BR>
						<BR>
					</TD>
				</TR>
			</TABLE>
		</P>
	</BODY>
</HTML>
