<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>

<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="cache-control" content="no-cache">
	<TITLE>Message</TITLE>
	<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style3 {
	font-size: medium;
}
.auto-style4 {
	background-color: #FFFF00;
}
</style>
</HEAD>

<BODY>

<P>
<TABLE BORDER="0" WIDTH="100%" CELLPADING=6>
    <TR>
        <TD WIDTH=50% class="auto-style1" style="width: 100%; height: 158px;">
		    <IMG SRC="../Files/messageinabottle.jpg" height="321" width="302">&nbsp;
        </TD>
    </TR>
	<TR>
        <TD style="height: 78px">
		    <DIV ALIGN=CENTER STYLE="border:1px solid;">
    			<BR><font size="4">Application Message. </font>
    			<BR><BR>
    			<span class="auto-style4">{%textMessage%}</span>
    			<BR class="auto-style3">
    			<BR>
    			 <b>{%butnOk%}</b><BR>
    		</DIV>
        </TD>
    </TR>
	</TABLE>

</BODY>

</HTML>