<html>
<head>
<title>AToZed Software - The home of IntraWeb</title>
<link rel="stylesheet" type="text/css" href="../files/azweb.css">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></head>
<body bgproperties="fixed" topmargin="0" leftmargin="0" bgcolor="#3176a8" sbgcolor="white" text="black" link="blue" vlink="purple" alink="red" style="FONT-SIZE: 8px; MARGIN: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; ">
<table align="center" border="0" width="800" bordercolor="#dddddd" sbgcolor="#ffffff" cellspacing="0" cellpadding="0">
<tr>
  <td>{%framMenu1%}</td>
</tr>
<tr>
<td width="800" colspan="2">
<table width="800" height="19" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000">
<tr>
<td align="middle"><b><a href="http://www.atozed.com" class="clsMenuSelected">Home</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/Products.EN.aspx" class="clsMenu">Products</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/intraWeb/Ordering/index.EN.aspx" class="clsMenu">Ordering</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/intraWeb/Download/index.EN.aspx" class="clsMenu">Downloads</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/Support.EN.aspx" class="clsMenu">Support</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/Contact.EN.aspx" class="clsMenu">Contact Us</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
<td align="middle"><b><a href="http://www.atozed.com/Links.EN.aspx" class="clsMenu">Links</a></b></td>
<td align="middle"><b><font class="verdanawhite">|</font></b></td>
</tr>
</table>
</td>
</tr>
<tr><!--CONTENT-->
<td bgcolor="#ffffff" colspan="2">
<table border="0" align="left" cellpadding="2" cellspacing="0" bordercolor="#dddddd" width="800">
<tr><!--SIDEMENU-->
<td width="160" valign="top" align="left" bordercolor="#dddddd" bgcolor="#f5f5f5">
<table border="0" cellpadding="0" cellspacing="0" width="100%" bordercolor="#dddddd">
<tr>
<td width="100%" valign="center" align="left" height="21">
<hr size="1" color="#dddddd">
</td>
</tr>
<tr>
<td width="100%" valign="middle" align="left" height="34"><b> &nbsp;<img src="../files/go3.gif" vspace="0" align="absmiddle"> <a href="http://www.atozed.com" class="currentsubmenu">ATOZED Home</a></b>
  <hr size="1" color="#dddddd"></td>
</tr>
<tr>
<td width="100%" valign="middle" align="left" height="34"><b><a href="http://www.atozed.com/indy/index.en.aspx" class="submenu">Indy News</a></b>
  <hr size="1" color="#dddddd"></td>
</tr>
</table>
<div align="center"><br>
    <img src="../files/atozedlogo.gif" alt=""></div></td>
<td valign="top" bordercolor="#dddddd" bgcolor="white">

            <p class="pageheading">Template Example</p>
            <p class="bodytext">This page is a demonstration of an HTML template. 
              You can put all of your program's logic, dynamic controls, and input 
              controls in your Delphi application but all your HTML layout, graphics 
              and other in an HTML file.</p>
            <p class="bodytext">This allows you to separate the presentation from 
              your application. It also allows your web designers or graphic artists 
              to use any web design tool they want, and let you go back to programming. 
              :) </p>
            <p class="bodytext">You can use one template, or you can even have 
              seperate templates for Internet Explorer and Netscape.</p>
            <TABLE BORDER="0" align="center">
              <TR> 
                <TD  NOWRAP width="114">{%IWEdit1%}</TD>
                <TD  NOWRAP width="16">&nbsp;</TD>
                <TD  NOWRAP width="149">{%IWButton1%}</TD>
              </TR>
              <TR> 
                <TD  NOWRAP width="114">{%IWListbox1%}</TD>
                <TD  NOWRAP width="16">&nbsp;</TD>
                <TD  NOWRAP width="149"> 
                  <p>Enter an item to add to the list box and click Add.</p>
                  <!--{%IWLink1%}-->
                </TD>
              </TR>
            </TABLE>

            
          <p>&nbsp;</p></td>
<td class="tdborderleft" width="150" valign="top" align="right" bgcolor="#f5f5f5">
<table border="0" cellspacing="0" width="100%" height="19" bordercolor="#dddddd" cellpadding="0" align="left">
<tr>
<td bgcolor="orange" bordercolor="#ffffff" valign="top" align="middle">
<font class="verdanablack"><b>News</b></font>
</td>
</tr>
<tr>
<td class="newstext"><p><img src="../files/dots2.gif"> <b>Jan 19, 2002: </b><span>IntraWeb Vs WebSnap - <a class="bodytext" href="http://www.atozed.com/IntraWeb/Compare/WebSnap.EN.aspx">read it now!<br>
</a>
</span></p>  </td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td class="newstext"><img src="../files/dots2.gif"> <b>Jan 19, 2002:</b><span>				FinalBuilder 1.2.5.653 Released</span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td class="newstext"><img src="../files/dots2.gif"> <b>Jan 8, 2002: </b><span>IntraWeb 4 BETA Released</span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td class="newstext"><img src="../files/dots2.gif"> <b>Dec 31, 2001: </b><span>ELK News Beta released</span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td class="newstext"><img src="../files/dots2.gif"> <b>Dec 5, 2001: </b><span>FinalBuilder and IntraWeb have a new home!</span></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="tdbordertop" width="800" bgcolor="#f5f5f5" sbgcolor="#ffffff" align="middle" border="0" bordercolor="#ffffff" colspan="2">
<table width="100%" bgcolor="#dddddd">
<tr>
<td align="center">
<font class="verdanablack">Copyright &copy; 2001 - 2002 AToZed Software. All rights Reserved. <br>
							All logos and trademarks in this site are property of their respective owners.<br>
		  Last Update : Jan 19, 2002	</font><br></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
