<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>

<HEAD>
</HEAD>

<BODY>

<P>
<TABLE BORDER="0">
	<TR>
		<TD COLSPAN="2">{%textPrompt1%}</TD>
	</TR>
	<TR>
		<TD WIDTH="116"></TD>
		<TD>{%cmboType%}</TD>
	</TR>
	<TR>
		<TD COLSPAN="2">{%textPrompt2%}</TD>
	</TR>
	<TR>
		<TD WIDTH="116">&nbsp;</TD>
		<TD>{%cmboPhone%}</TD>
	</TR>
	<TR>
		<TD COLSPAN="2">{%textPrompt3%}</TD>
	</TR>
	<TR>
		<TD WIDTH="116">&nbsp;</TD>
		<TD>{%chckDiscount%}</TD>
	</TR>
	<TR>
		<TD WIDTH="116">&nbsp;</TD>
		<TD>{%butnNext%}</TD>
	</TR>
</TABLE>

</BODY>

</HTML>