<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<BODY>

<P>
<TABLE BORDER="0">
	<TR>
		<TD>
			<P ALIGN="RIGHT">&nbsp;
		</TD>
		<TD>&nbsp;</TD>
		<TD COLSPAN="5">{%textPrompt%}</TD>
	</TR>
	<TR>
		<TD>Name:</TD>
		<TD>&nbsp;</TD>
		<TD COLSPAN="5">{%editName%}</TD>
	</TR>
	<TR>
		<TD>
			<P ALIGN="RIGHT">Address:
		</TD>
		<TD>&nbsp;</TD>
		<TD COLSPAN="5">{%editAddress1%}<BR>
			{%editAddress2%}</TD>
	</TR>
	<TR>
		<TD>
			<P ALIGN="RIGHT">City:
		</TD>
		<TD>&nbsp;</TD>
		<TD COLSPAN="5">{%editCity%}</TD>
	</TR>
	<TR>
		<TD>
			<P ALIGN="RIGHT">State:
		</TD>
		<TD>&nbsp;</TD>
		<TD WIDTH="121">{%editState%}</TD>
		<TD WIDTH="13">&nbsp;</TD>
		<TD>
			<P ALIGN="RIGHT">Postal Code:
		</TD>
		<TD>&nbsp;</TD>
		<TD>{%editZip%}</TD>
	</TR>
	<TR>
		<TD COLSPAN="7">&nbsp;</TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
		<TD>&nbsp;</TD>
		<TD WIDTH="121">&nbsp;</TD>
		<TD WIDTH="13">&nbsp;</TD>
		<TD></TD>
		<TD>&nbsp;</TD>
		<TD>{%butnNext%}</TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
		<TD>&nbsp;</TD>
		<TD COLSPAN="5"><FONT COLOR="#FF0000"><B>{%lablAllFields%}</B></FONT></TD>
	</TR>
</TABLE>
</BODY>

</HTML>