<html>
<head>
<title>Atozed Wiki</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link href="../wwwroot/style.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="../wwwroot/Images/Atozed-Wiki_01.jpg" alt="" width="398" height="231" border="0" usemap="#Map"></td>
        <td><img src="../wwwroot/images/index_02.jpg" width="602" height="231" alt=""></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr bgcolor="#803113">
        <td>{%Enum.BreadCrumb%}</td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td valign="top" class="p">
          <h2>{%IWRegion%}</h2></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td align="center"><img src="images/index_49.gif" width="912" height="21" alt=""></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
          <tr>
            <td class="p1" width="63%"><a href="#"><strong>Terms of Use</strong></a><strong class="broun-text-regular"> | </strong><a href="#"><strong>Privacy Statement</strong></a></td>
            <td width="37%" align="center" class="gray-text-regular">&copy; 2002 - {%Sys.Year%} Atozed 
              Software</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="66,41,171,79" href="/">
</map>
</body>
</html>