<html>
  <head>
  <title>Demo IntraWeb IWMonitor and many other features</title>
  <link href="colors.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  <div id="div1" class="red" style="position: absolute; left:100px; top:100px; width:20px; height:20px; border:1px solid #000;"></div>
  <div id="div2" class="green" style="position: absolute; left:100px; top:150px; width:20px; height:20px; border:1px solid #000;"></div>
  <div id="div2" style="position: absolute; left:100px; top:250px; width:500px; height:300px; border:0;">
  {%MemoRegion%}
  </div>
  </body>
</html>