<html>
  <head><title>Demo IW14 - Template Unicode</title></head>
  <body>
	<p>This is german:</p>
Es war einmal ein Mann, der hatte einen Esel, welcher schon lange Jahre unverdrossen die Säcke in die Mühle getragen hatte. Nun aber gingen die Kräfte des Esels zu Ende, so dass er zur Arbeit nicht mehr taugte. Da dachte der Herr daran, ihn wegzugeben. Aber der Esel merkte, dass sein Herr etwas Böses im Sinn hatte, lief fort und machte sich auf den Weg nach Bremen. Dort, so meinte er, könnte er ja Stadtmusikant werden.

 Als er schon eine Weile gegangen war, fand er einen Jagdhund am Wege liegen, der jämmerlich heulte. „Warum heulst du denn so, Pack an?“ fragte der Esel.

 „Ach“, sagte der Hund, „weil ich alt bin, jeden Tag schwächer werde und auch nicht mehr auf die Jagd kann, wollte mich mein Herr totschießen. Da hab ich Reißaus genommen. Aber womit soll ich nun mein Brot verdienen?“

 „Weißt du, was“, sprach der Esel, „ich gehe nach Bremen und werde dort Stadtmusikant. Komm mit mir und lass dich auch bei der Musik annehmen. Ich spiele die Laute, und du schlägst die Pauken.“

 Der Hund war einverstanden, und sie gingen mitsammen weiter. Es dauerte nicht lange, da sahen sie eine Katze am Wege sitzen, die machte ein Gesicht wie drei Tage Regenwetter. „Was ist denn dir in die Quere gekommen, alter Bartputzer?“ fragte der Esel.	<p>This is russian:</p>
  Все люди рождаются свободными и равными в своем достоинстве и правах. Они наделены разумом и совестью и должны поступать в отношении друг друга в духе братства	
	<p>This is chinese:</P><BR>
醉酒(片段)
 侯宝林 郭启如 

侯：真喝醉的人，怕别人说他醉了。
 郭：是吗？
 侯：哎。你看那边那俩？
 郭：嗯，
 侯：都喝得脸红脖子粗了，还喝呐。
 郭：还喝呐？！
 侯：是啊！谁也不服谁。
 郭：哦？
 侯：这个说：“我说你这酒啊，不行，才喝两杯──就，醉了。”
 郭：是吗？
 侯：那个说：“你没醉？你说话──说话，舌头都短了。”
 郭：他的舌头也不利索了。
 侯：这个一听，从兜里掏出一个手电筒，往桌上一放，一按电门，出来一道光柱。

郭：这干嘛呢？
 侯：“你没醉？来，顺着我这柱子爬上去。”
 郭：这是根柱子呀？！
 侯：那位也不含糊。“别，别来这套，我懂。”
 郭：哟？是吗？
 侯：“我爬上去？爬一半，你把电门一关，我掉下来？”	
<BR><BR>
{%IWButton1%}<BR><BR>
 </body>
</html>