<html>

<head>
</head>

<body>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div align="center">
  <center>

<table border=1 cellspacing=0 cellpadding=0 width="605">
 <tr>
  <td width=373 valign=top align="left">
  {%lablText%}
  </td>
  <td width=224 valign=top align="left">
  &nbsp;
  </td>
 </tr>
 <tr>
  <td width=373 valign=top align="left">
  &nbsp;
  <p>
  {%lablGuess%}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {%editGuess%}
  {%butnGuess%}</p>
  </td>
  <td width=224 valign=top align="left">
  &nbsp;
  </td>
 </tr>
 <tr>
  <td width=373 valign=top align="left">
  &nbsp;
  <p>
  {%lablGuessNo%}</p>
  </td>
  <td width=224 valign=top align="left">
  &nbsp;
  </td>
 </tr>
 <tr>
  <td width=373 valign=top align="left">
  &nbsp;
  <p><font color="#008000"><b>
  {%lablResponse%}</b></font></p>
  </td>
  <td width=224 valign=top align="left">
  &nbsp;
  </td>
 </tr>
</table>

</body>

</html>
